html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    background-image: url(https://sp.depositphotos.com/stock-photos/tools.html);
    background-size: cover;
	background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
     
}  
#principal{
    background: #931621;
    color:#679436;
    display: flex;
    flex-direction: column;
    align-items: center;
}






footer{
    background: #679436;
    color:#931621;
  }
    .contact-list {
    list-style-type: none;
    padding: 0;
    }
  .contact-list a {
    padding: 15px;
    display: inline-block;
  }