*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
      
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-image:url(/imagenes/underconstruction.jpg);
    background-size: cover;
    background-repeat: no-repeat;
     
}  


footer{
  font-family: 'Caveat', cursive;
  font-weight: 400;
    color: #3066BE;
  }
    .contact-list {
    list-style-type: none;
    padding: 0;
    }
  .contact-list li{
    padding: 15px;
    display: inline-block;
  }
  .contact-list a{
    color: #F1FFE7;
    text-decoration: none;
  }
  .contact-list a:hover{
    color:#A9FDAC ;
  }
  img{
    width: 126px;
  }